body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: none;
  
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('res/NewCityHall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
}

    
#map {
    height: 525px;
    width: 50%;
}

#submitReport {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: blue;
  color: white;
}

#locatebtn {
  width: 500px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#locationbtn {
  width: 500px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.proofImages {
  background-color: wheat;
}